<nav class="header">
  <mat-toolbar *ngIf="mobileQuery.matches">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <app-menu></app-menu>
    </mat-menu>
  </mat-toolbar>
</nav>
<mat-sidenav-container class="main-container">
  <mat-sidenav opened mode="side" *ngIf="!mobileQuery.matches">
    <app-menu></app-menu>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo"></div>
    <div class="footer-version">Current version: {{currentApplicationVersion}}</div>
    <div class="footer-copyright">
      <span>2022 &copy; lkre Poland.</span>
      <span>All rights reserved.</span>
    </div>
  </div>
</footer>

